[package]
name = "advent_of_code_2025"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.66"
chrono = "0.4.23"
reqwest = { version = "0.12.24", features = ["blocking"] }